* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*  Common 
*/
.container {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*
*  Slider container 
*/
.slider {
    max-width: 43.75rem;
    height: 18.75rem;
    background-color: aqua;
    position: relative;
    overflow: hidden;
}

.slider > img {
    width: 100%;
    object-fit: cover;

}

.hidden {
    display: none;
}

.show {
    display: block;
}

/*** arrow ***/
.prev, .next {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ccc;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.prev {
    top: .625rem;
}

.next {
    bottom: .625rem;
}

.prev > *, .next > * {
    vertical-align: middle;
}


/*
*  Thumb container
*/
.gallery {
    max-width: 9.375rem;
    margin-left: .9375rem;
}

.gallery > img {
    display: block;
    width: 100%;
    height: calc(18.75rem / 5);
    object-fit: cover;
    opacity: .5;
}

.gallery > .active {
    opacity: 1;
}